*{
    box-sizing: border-box;
}
    body{
       margin: 0%;
}
.flex-menus{
    display: flex;
    flex-direction: row ;
}

.flex-container{
    display: flex;
    flex-direction: column;
    background-color : rgb(199, 52, 187) ;

}
.flex-container>div{
    margin: 10px;
    border: 10px solid rgb(51, 235, 158);
    padding: 10px;
    background-color: aquamarine; 
    box-sizing: content-box;
}
.header{
    padding: 20px;
    background: #727272;
    color: rgb(110, 243, 199);
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
}
.navbar a{
    color: rgb(151, 30, 91);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;    
}
.navbar a:hover{
    color: rgb(230, 84, 235);
    background-color: rgb(188, 231, 109);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30px;
    background-color: rgb(99, 99, 248);
    padding: 20px;
}
.main{
        flex: 70px;
        padding: 20px;
        background-color :  rgb(173, 97, 245);

}
.footer{
        text-align: center;
        padding: 20px;
        background: #299;
}
@media screen and (max-width:70pz) {
        .row,
        .navbar{
                flex-direction: column;
        }
    
}